
* {
    box-sizing: border-box;
}

body {
    background-color: rgba(79, 54, 159, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;

}

h1 {
    text-align: center;
    padding: 20px 20px;
    font-family: 'Montserrat',sans-serif;
    font-size: 45px;
    color: white;
}

.filter-container {
    margin-top: 20px;
    text-align: center;
    width: 80vw;
    max-width: 800px;
}

.filter-container input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(152, 141, 191);
    transition: ease-in-out;
    transition-duration: .5s;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.filter-container input:focus {
    outline: none;
}

.filter-container input:hover {
    transform: scale(1.1);
}

.post-container {
}


.post {
    position: relative;
    display: flex;
    text-align: center;
    margin: 35px 0;
    padding: 20px;
    background-color: rgba(96, 72, 173, 0.85);
    width: 80vw;
    max-width: 800px;;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.post .number {
    background-color: rgba(35, 16, 97, 1);
    border: 2px solid rgba(35, 16, 97, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    top: -15px;
    left: -15px;
    position: absolute;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    color: #ffffff;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;

}

.post-title {
    text-align: left;
    font-family: 'Nunito', sans-serif, Arial, Helvetica;
    color: white;
    font-size: 22px;
    padding-top: 7px;
}




.post-body {
    text-align: left;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: white;

}

.loader {
    display: flex;
    opacity: 0;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in-out infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}